.App {
  text-align: center;
}

.tab-button-list{
  position: fixed;
  bottom:0;
}

.graph-button-list{
  position: relative;
  top:0;
}

.graph-button-list .tab-button{
  border-radius: 5px;
  border: 1px solid grey;
}

.tab-button{
  font-size: 0.9em;
  display: inline-block;
  color: black;
  height: 8vh;
  line-height: 8vh;
  width: calc(24vw - 3px);
  background-color: #ffc965;
  border-right: 4px solid #cd7c00;
  padding: 0.5vw;
}

.tab-button:last-child{
  border: 0;
}

.graph-button-list .tab-button:last-child{
  border: 1px solid grey;
}